body {
    background-color: #fff;
  }

.navbar{
  border-bottom: solid #F2AE8B 4px;
}

h2{
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  border-bottom: solid #F2AE8B 2px;
}

.photo{
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}