body {
    background-color: #fff;
  }

.navbar{
    border-bottom-style: solid;
    border-bottom-color: #F2AE8B;
    border-bottom-width: 4px;
}

.Artist{
  padding-top: 50px;
  padding-left: 50px;
}

h2{
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  border-bottom-style: solid;
  border-bottom-color: #F2AE8B;
  border-bottom-width: 2px;
}
