body {
    background-color: #fff;
  }

.navbar{
  border-bottom: solid #F2AE8B 4px;
}

h2{
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  border-bottom: solid #F2AE8B 2px;
}

.row{
  margin-top: 30px;
  margin-bottom: 30px;
}

