body {
    background-color: #fff;
  }

.navbar{
  border-bottom: solid #F2AE8B 4px;

}

video{
  height: 100%;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
}

h1{
  color: #fff;
}

#Indicators{
  padding-top: 40px;
}

h2{
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  border-bottom: solid #F2AE8B 2px;
}

p{
  padding-top: 10px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}